<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5_3f" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

  <!-- Robotiq from ROS industrial repos -->
    <xacro:include filename="$(find robotiq_3f_gripper_visualization)/cfg/robotiq_hand_macro.urdf.xacro"/>
    <xacro:robotiq_hand prefix="r3f_" reflect="" parent="tool0">
      <origin xyz="0 0 0.055" rpy="${pi/2} 0 0"/>
    </xacro:robotiq_hand>

   <!-- <xacro:include filename="$(find ur5_3f)/ur5_3f_description/urdf/robotiq_3f_gripper.transmission.xacro"/>
    <xacro:robotiq_3f_gripper_transmission prefix="r3f_"/>-->

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

    <gazebo>
    <!-- plugin for the RobotiQ hand -->
    <plugin name="robotiq_hand_plugin" filename="libRobotiqHandPlugin.so">
      <kp_position>10.0</kp_position>
      <kd_position>0.5</kd_position>
      <!-- Some optional parameters. Check the plugin header file for all of them. -->
      <prefix>r3f_</prefix>
      <!-- This is chosen, so it's compatible with the "Robotiq3FGripperSimpleController.py"-->
      <topic_command>/Robotiq3FGripperRobotOutput</topic_command>
      <!-- <topic_state>/hand/state</topic_state> -->

    </plugin>
  </gazebo>
</robot>
